<form>
	<input
		type="hidden"
		id="card_list_id"
		name="card[list_id]"
		value="<%= listID %>">

	<input
		type="hidden"
		id="card_rank"
		name="card[rank]"
		value="<%= rank %>">

	<label>
		Card Title
		<input
			type="text"
			id="card_title"
			name="card[title]">
	</label>

	<label>
		Card Description
		<input
			type="text"
			id="card_description"
			name="card[description]">
	</label>

  <br>

	<input type="submit">
</form>