<h1><%= @cat.name %></h1>

		<h5><%= link_to "Edit", edit_cat_url(@cat.id) %></h5>
<table>
    <tr>
        <th> attributes </th>
  			<th> values </th>
    </tr>

<%Cat.attributes.each do |attr|%>
    <tr>
        <td> <%= attr %> </td>
				<td> <%= @cat.send(attr) %> </td>
    </tr>
<%end%>

</table>