<!DOCTYPE html>
<html>
<head>
  <title>NinetyNineCats</title>

</head>
<body>

<% if logged_in?%>
  <%= "Hello, #{current_user.user_name}" %>
  <%=button_to "Logout", session_url, :method => :delete %>
<% else %>
  <%=link_to "Login", new_session_url%>
<%end%>

<%= yield %>

</body>
</html>

