<h3>New Board Member</h3>
	<form>
		<label for="member_email">Board Member Email</label>
			<input type="text"
			id="member_email"
			name="member[email]"
			value="<%= member.email %>">

		<input type="submit">
	</form